/*****************
 * To fix style 
 *****************/
/* Error, warning message */
#errMsg {
    font-size: 20px;
    -webkit-margin-start: 45%;
}
/* side and menu */
.side {
    background: #fefefe;
    border-right: 1px solid #E7E8EA;
}
@media (min-width: 1000px) {
    .side {
        margin-left: -60px;
    }
}
#menu {
    cursor: default;
    text-align: end;
    -webkit-user-select: none;
}
#menu .nav-list > .active > a {
    background-color: #c4c9cf;
}
#menu .nav-list > .active > a:hover {
    background-color: #EEE;
}
#menu .nav-list > .active > a,
#menu .nav-list > .active > a:hover {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

/**
 * content 
 **/
#login {
    -webkit-margin-start: 45%;
}
#btnLogin {
    margin-top: -10px;
    margin-left: 18px;
}

/* discriptions */
#content .dl-horizontal > dt {
    border-right: 1px solid #e0e0e0;
    text-align: end;
    width: auto;
    -webkit-padding-end: 10px;
    -webkit-margin-end: 10px;
}

