/* To fix style */
/* side and menu */
.side {
    background: #fefefe;
    border-right: 1px solid #E7E8EA;
}
@media (min-width: 1000px) {
    .side {
        margin-left: -60px;
    }
}
#menu {
    cursor: default;
    text-align: end;
    -webkit-user-select: none;
}
#menu .nav-list > .active > a,
#menu .nav-list > .active > a:hover {
    background-color: #f6f7f9;
    border-left: 20px solid #c4c9cf;
    color: #000000;
    cursor: pointer;
    font-weight: bold;    
}
/* content */
/* discriptions */
#content .dl-horizontal > dt {
    border-right: 1px solid #e0e0e0;
    text-align: end;
    width: auto;
    -webkit-padding-end: 10px;
    -webkit-margin-end: 10px;
}

