section
    div#menu
        aside
            section
                ul
                    li
                        |Home
                    li
                        |Traffic Monitor			

    div#content
        article
            header
                h1 Welcome to WAF System
        article.board
            header
                h1
                    strong 
                        |Server Informations
            |Server: #{serInfo.server}