div#login.span4
    div.page-header
        h3 Login
    form.well(method='post', action='/login')
        lable
            input(type='text', name='username', placeholder='USERNAME')
        br
        lable
            input(type='password', name='password', placeholder='PASSWORD')
        button(type='submit', id='btnLogin', class='btn') Log In
