div#menu
	aside
		section
			ul
				li
					|Home
				li
					|About			

div#content
	article
		header
			h1 Welcome to WAF System
		p
		| Here is the web application firewall. 
		| It is used to detecting, protecting and analyzing your server.
		footer
		| 2012.02.08
