div#menu
	aside
		section
			ul
				li
					|Home
				li
					|About			

div#content
	article
		header
			h1 Welcome to WAF System
		p
		| Here is the web application firewall. 
		| It is used to detecting, protecting and analyzing your server.
		footer
		| 2012.02.08
		| ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDK1EDUHp8pDUzlx3mCOVIaE4ab4TntAuDpQY+RYldEHPivXAiHppLzaJSF81Z/AKhfC+I09bUqZGnpeJyx0WjjVirpf3WNZnZxbW7C4WVlFd06aZ8qMEH4/cUK+8Ijay4MliutgDxFdS9HOX0/WNBUzlb3Z/5E+HohYMcWCLNUQkIekSio+VwS+TuznunLBDLi60OnCMg2+HHUTdlGPsyp/3ev3CXkI5duWnkRDCHPbaY6osAJCLGEdOJBq4BxdiWNlsHzK4wrPMtvX/1KTYIvKz+o9fp5pPAEKNIAswHiEVcC1RjV6I/DB5Pv32Jl9KZ/TfAP3ZdOovrNqWU8Sn+5 sizkin@gmail.com
