div#errMsg.span4
    div.alert.alert-block
        h3.alert-heading
            span.label.label-warning
                |Warning!
        case err
            when 'nologin'
                p
                    |Please log in first!&nbsp;&nbsp;
                    a(href='/', title='return') return
            when 'logined'
                p
                    |Logged in.&nbsp;&nbsp;
                    a(href='/', title='goToHome') Go to home
            when 'relogin'
                p
                    |You are already logged in.&nbsp;&nbsp;
                    a(href='/', title='return') return
            when 'loginFailed'
                p
                    |Login Failed, please try again.&nbsp;&nbsp;
                    a(href='/', title='return') return
        
